apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: pandax
    app.kubernetes.io/version: 1.0.0
  name: pandax
  namespace: pandax
spec:
  ports:
  - port: 7788
    protocol: TCP
    targetPort: 7788
  - port: 9001
    protocol: TCP
    targetPort: 9001
  - port: 9002
    protocol: TCP
    targetPort: 9002
  - port: 9003
    protocol: TCP
    targetPort: tcp9003
  - port: 9003
    protocol: UDP
    targetPort: udp9003
  selector:
    app.kubernetes.io/name: pandax
    app.kubernetes.io/version: 1.0.0
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: pandaxrule
    app.kubernetes.io/version: 1.0.0
  name: pandaxrule
  namespace: pandax
spec:
  ports:
  - port: 7791
    protocol: TCP
    targetPort: 7791
  selector:
    app.kubernetes.io/name: pandaxrule
    app.kubernetes.io/version: 1.0.0
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: pandaxscreen
    app.kubernetes.io/version: 1.0.0
  name: pandaxscreen
  namespace: pandax
spec:
  ports:
  - port: 7790
    protocol: TCP
    targetPort: 7790
  selector:
    app.kubernetes.io/name: pandaxscreen
    app.kubernetes.io/version: 1.0.0
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: pandaxweb
    app.kubernetes.io/version: 1.0.0
  name: pandaxweb
  namespace: pandax
spec:
  ports:
  - port: 7789
    protocol: TCP
    targetPort: 7789
  selector:
    app.kubernetes.io/name: pandaxweb
    app.kubernetes.io/version: 1.0.0
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: pandax
    app.kubernetes.io/version: 1.0.0
  name: pandax
  namespace: pandax
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: pandax
      app.kubernetes.io/version: 1.0.0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pandax
        app.kubernetes.io/version: 1.0.0
    spec:
      containers:
      - image: ccr.ccs.tencentyun.com/pandax/pandax:v1.9.1
        imagePullPolicy: IfNotPresent
        name: pandax
        ports:
        - containerPort: 7788
          protocol: TCP
        - containerPort: 9001
          protocol: TCP
        - containerPort: 9002
          protocol: TCP
        - containerPort: 9003
          protocol: TCP
          name: tcp9003
        - containerPort: 9003
          protocol: UDP
          name: udp9003
      serviceAccountName: pandax
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: pandaxrule
    app.kubernetes.io/version: 1.0.0
  name: pandaxrule
  namespace: pandax
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: pandaxrule
      app.kubernetes.io/version: 1.0.0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pandaxrule
        app.kubernetes.io/version: 1.0.0
    spec:
      containers:
      - image: ccr.ccs.tencentyun.com/pandax/pandaxrule:v1.8
        imagePullPolicy: IfNotPresent
        name: pandaxrule
        ports:
        - containerPort: 7791
          protocol: TCP
      serviceAccountName: pandaxrule
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: pandaxscreen
    app.kubernetes.io/version: 1.0.0
  name: pandaxscreen
  namespace: pandax
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: pandaxscreen
      app.kubernetes.io/version: 1.0.0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pandaxscreen
        app.kubernetes.io/version: 1.0.0
    spec:
      containers:
      - image: ccr.ccs.tencentyun.com/pandax/pandaxscreen:v1.9.1
        imagePullPolicy: IfNotPresent
        name: pandaxscreen
        ports:
        - containerPort: 7790
          protocol: TCP
      serviceAccountName: pandaxscreen
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: pandaxweb
    app.kubernetes.io/version: 1.0.0
  name: pandaxweb
  namespace: pandax
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: pandaxweb
      app.kubernetes.io/version: 1.0.0
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pandaxweb
        app.kubernetes.io/version: 1.0.0
    spec:
      containers:
      - image: ccr.ccs.tencentyun.com/pandax/pandaxweb:v1.9.1
        imagePullPolicy: IfNotPresent
        name: pandaxweb
        ports:
        - containerPort: 7789
          protocol: TCP
      serviceAccountName: pandaxweb
